<% if (site.tags.length){ %>
<div class="widget tag">
  <h3 class="title">Music (Please allow the load of JS in the URL bar.)</h3>
  <div class="entry">
    <embed src="http://www.xiami.com/widget/185651897_373990,_235_346_cccccc_dddddd_1/multiPlayer.swf" type="application/x-shockwave-flash" width="235" height="346" wmode="opaque"></embed>
  </div>
</div>
<% } %>